.angular-mapboxgl-compare {
  position: relative;
}
.angular-mapboxgl-compare .compare-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.angular-mapboxgl-map .directions-icon-depart,
.angular-mapboxgl-map .directions-icon-arrive {
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
