<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1><a ui-sref="home">angular-mapboxgl-directive</a> examples</h1> <em>(<i class="fa fa-exclamation-triangle"></i> under construction)</em>
  <hr />

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div ng-repeat="eachType in examplesTypes">
      <h4 ng-bind="eachType"></h4>
      <hr style="margin: 5px 0px; border-top-color: #CCCCCC;" />

      <ul style="padding: 0; list-style: none;">
        <li ng-repeat="eachExample in examplesAvailables | filter:{ type: eachType }">
          <a ui-sref="{{eachExample.uiSref}}" ng-bind="eachExample.title"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="border-left: 1px solid #CCCCCC;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 ng-bind="$state.current.data.title"></h4>
        <em><small ng-bind="$state.current.data.description"></small></em>
      </div>

      <div class="panel-body" style="padding: 0">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
