body {
  font-family: 'Noto Serif', serif;
  overflow-y: scroll;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}

@media only screen and (max-width: 767px) {
  .forkme {
    display: none;
  }
}
