body {
  background-color: #FFFFFF;
  font-family: 'Noto Serif', serif;
  overflow-y: scroll;
  margin: 0;
}

.map-container {
  margin-bottom: 10px;
}

.title {

}

.project-description {

}

.method-title {
  margin-bottom: 5px;
}

.getstarted-description {
  
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}
