body {
  background-color: #F8F8F8;
  font-family: 'Noto Serif', serif;
  overflow-y: auto;
  margin: 0;
}

.header-container {
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 0 25%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6D19;
  background: linear-gradient(#FFA916, #FF6D19);
}

.header-container .header-info {

}

.title {

}

.project-description {

}

.method-title {
  margin-bottom: 5px;
}

.getstarted-description {

}

.return-to-home {

}

.examples-header {
  background-color: #56b1ff;
  border-color: #6C8497;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.example-section-title {
  font-size: 15px;
}

.example-link {
  /*color: #4DAFFB;*/
  color: #4C4C4C;
  font-size: 12px;
}

.example-link:hover {
  color: #4DAFFB;
  text-decoration: none;
}

.example-link-selected {
  color: #4DAFFB;
}

pre {
  padding: 0;
  border: none;
  font-size: inherit;
  margin: 0;
}

pre code.hljs {
  background-color: #FFFFFF;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}

.footer {
  padding-bottom: 20px;
}
